.navbar {
  background-color: #aea8fd;
}

.cardBG {
  background-color: #dbdef9;
}

.top2 {
  background-color: white;
}

.bottomButtons {
  background-color: #b3bdf2;
}

.line {
  border: solid black 0.5px;
  margin: 5px;
}

.login{
  background-color: #535EBA;
  height: 480px;
}

.background{
  background-image: url('./assets/bankbackground.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 5%;
  
  filter:contrast(150%)
  
}
.form{
background-color: #393E6E;
}
.rbox{
  background-color: #393e6e7a;
 

}
.btn{
  background-color: #764BF0;
}
