.navbar {
  backdrop-filter: blur(5px);
}



.line {
  border: solid black 0.5px;
  margin: 5px;
}



body{

  background-image: linear-gradient( to right, rgb(183, 119, 1),rgba(255, 166, 0, 0.354));
  
}
.form{

backdrop-filter:blur(15px);

}
.slider{
  width:40rem;
  height: 26rem;
}
.borderc{
  border-image:linear-gradient( to right,rgb(234, 199, 24), rgb(255, 98, 0));
  border-image-slice:1;
}
  



 



